body {
  background: #fff1e5;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: raleway, sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#profile-pic {
	max-width: 500px;
	padding: 10px;
	border-bottom: solid 2px black;
}

#hobbies-skills-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

h1 {
	font-family: Palette Mosaic, sans-serif;
	font-size: 48px;
}

h2 {
	color: crimson;
}

.referral-btn {
	display: inline-block;
}

#info-btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid 2px black;
	padding: 10px;
}

.fav-btns {
	font-size: 16px;
	background-color: goldenrod;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px;
}

.fav-btns:hover {
	background-color: gold;
	cursor: pointer;
	box-shadow: 0 0 10px rgb(10, 10, 242);
}

#color:hover {
	font-size: 18px;
}

#place:hover {
	font-size: 18px;
}

#ritual:hover {
	font-size: 18px;
}

#about-me {
	border-bottom: solid 2px black;
}

.google:hover{
	color: blue;
}

.friend:hover{
	color: blue;
}

.other:hover{
	color: blue;
}